main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    min-height: 550px;
    max-height: 100%;
}

footer {
    position: relative;
}

hr {
    width: 90%;
    margin: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

#page1 button {
    align-self: flex-end;
}

#back {
    background-color: #d25050;
}

h1 {
    font-size: 40px;
    margin: 10px;
}

label {
    font-size: 30px;
    width: 100%;
}

#page1 label {
    width: 30%;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: none;
    width: 50%;
}

.custom-label {
    display: flex;
    width: 50%;
}

/* Ocultar las flechas en navegadores basados en Chromium (Chrome, Edge, etc.) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    font-size: 30px;
    width: 80px;
    margin-right: 0;
    /* Ocultar las flechas en Firefox */
    -moz-appearance: textfield;
}

input[type="radio"] {
    align-items: center;
    font: inherit;
    width: 1.55em;
    height: 1.55em;
    border-radius: 50%;
    margin-right: 25px;
}

.page {
    display: none;
}

.page.visible {
    display: flex;
}

#errorMsg {
    color: red;
}


@media (min-height: 650px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}