@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700&display=swap');

/*GENERAL STYLE*/

body {
    font-family: 'Oxanium', sans-serif;
    margin: 0;
}

button {
    background-color: green;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

/*HEADER*/
header {
    background: linear-gradient(to right, #5B9632, #3A7113);
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
    height: 50px;
    width: 92%;
    border-bottom: black solid 2px;
    margin: 0;
}

header a {
    width: fit-content;
    height: 80%;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

header img {
    height: 100%;
}

header a p {
    display: none;
    text-align: center;
}

header a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

/*FOOTER*/
footer {
    height: 50px;
    background: linear-gradient(to right, #5B9632, #3A7113);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: black solid 2px;
    bottom: 0;
}

@media (min-width: 1024px) {

    header {
        display: grid;
        grid-template-areas: 'news logo user';
        grid-template-columns: 1fr auto auto;
        grid-template-rows: 100%;
        height: 40px;
        padding: 0 2%;
        width: 96%;
    }

    header a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    header a p {
        margin-left: 5px;
        display: block;
        text-decoration: none;
    }

    header a:first-child {
        grid-area: logo;
    }
    
    header a:nth-child(2) {
        grid-area: news;
    }
    
    header a:nth-child(3) {
        grid-area: user;
    }
}